node_modules
dist/*
generate*
_output
**/.DS_Store
**/*-IGNORE*
.idea/vcs.xml
.idea/workspace.xml
.idea/*
.idea/**
tmp*
bin/*
.secret*
*event.json
.vscode/*
.vscode/**
.envrc
procgen-*.md
opencode.json
.agent-scratchpad/*